div#header_menu ul li{
  padding:0;
  margin:0;
  border:0;
  line-height:0;
  font-size:0;
  height:36px;
}

div#header_menu ul li a{
  padding:0;
  margin:0;
  border:0;
  line-height:0;
  font-size:0;
  height:36px;
}

div#header_menu span.none{
  height:0;
}










