div#page_content{
  padding:0;
}

div#header_menu ul li{
  padding:0;
  margin:0;
  border:0;
  line-height:0;
  font-size:0;
  height:36px;
}

div#header_menu ul li a{
  padding:0;
  margin:0;
  border:0;
  line-height:0;
  font-size:0;
  height:36px;
}

div#header_menu span.none{
  height:0;
}


div.clean{
font-size:2px;
line-height:0px;
padding:0;
margin:0;
border:0;
}





div#shadow{
  background-image:none;
}

