/* 
 *  Light Brown 1.0
 *  Autore: Finetti Leonardo - FiNeX design 2009
 *  Indirizzo: http://www.finex.org
 *  Email: finex@finex.org
 *  Powered by http:themes-drupal.org
 */


/* START STRUTTURA */


body{
  background-color:white;
  background-image:url(img/pattern.jpg);
  background-position:top left;
  background-repeat:repeat;
  border:0;
  margin:0;
  padding:0;
  color:#5E3C3B;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  line-height:1.5em;
  text-align:center;
}

div#column{
  width:960px;
  margin:0 auto;
  text-align:left;
  background-color:white;
}

div#shadow{
  background-image:url(img/bg_shadow.png);
  background-position:center;
  background-repeat:repeat-y;
  width:974px;
  margin:0 auto;
}

div#sidebar{
  width:260px;
  float:left;
  font:10em;
}

div#sidebar .block{
  clear:both;
  margin-bottom:10px;
  margin-top:10px;
  padding-left:10px;
}

div#sidebar_top{
  display:block;
  width:260px;
  height:42px;
  background-image: url(img/primary_bg.jpg);
  background-position:top left;
  background-repeat:repeat-x;
}

div#content{
  width:700px;
  float:right;
}

div#page_content{
  padding:0;
  margin:0;
  border:0;
  padding-right:10px;
}

.clean{
  width:100%;
  clear:both;
  height:0;
}

div#main{
  margin-bottom:30px;
  padding-bottom:50px;
  border-bottom:4px solid #5E3C3B;
}

div#header{
  width:960px;
  /*height:255px;*/
  display:block;
}

#header_top{
  width:960px;
/*   height:75px; */
  display:block;
}



#header_image{
  width:960px;
  height:193px;
  display:block;
}


div#bottom{
  background-color:#5E3C3B;
  color:#5E3C3B;
  background-image: url(img/bar.jpg);
  background-position:top left;
  background-repeat:repeat-x;
}

.submitted{
  font-size:9px;
}

div#footer{
  width:960px;
  margin:0 auto;
  margin-top:10px;
  text-align:left;
  padding-bottom:10px;
  font-size:9px;
}


/* END STRUTTURA */


/* START TITOLI */



h1, h2{
margin-top:0;
}

h1#sitename{
  font-size:30px;
  font-weight:bold;
  line-height:60px;
  height:45px;
  padding-left:10px;
}

h2{
  font-size:14px;
}

h2#site-slogan{
  font-size:16px;
  font-weight:bold;
  line-height:20px;
  padding-left:10px;
}

div#sidebar .title{

}

div#content h1.title{
  color:#5E3C3B;
  font-size:14px;
  font-weight:bold;
  line-height:42px;
  height:42px;
  background-image: url(img/bar.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  padding-left:10px;
/*margin-bottom:30px; */
}


/* END TITOLI */


/* START LINK */

a, a:link, a:visited, a:active, li a:active{
  color:#5E3C3B;
/*padding-right:18px; */
  text-decoration:none;
}


a:hover{
  text-decoration:underline;
}

div#header a,
div#header a:link,
div#header a:visited,
div#sidebar a,
div#sidebar a:link,
div#sidebar a:visited {
  color: #5E3C3B;
}


div#header a:active,
div#header a.active,
div#header a:hover,
div#sidebar a:active,
div#sidebar a.active,
div#sidebar a:hover {
  color: #5E3C3B;
}


div#footer #footer_logos a, div#footer #footer_logos a:link, div#footer #footer_logos a:active {
  /* font-size:10px; */
  color: #5E3C3B;
}


/* END LINK */



/* ALTRI ELEMENTI */

blockquote{
  margin:0;
  font-size:22px;
  color:#a9a9a9;
  /* font-weight:bold; */
  line-height:1.2em;
}

tbody{
  border:0;
}
table{
  width:100%;
}

#footer_logos{
  font-size:9px;
  padding-left:10px;
}

.teaser-checkbox{
  display:none;
}

hr{
  border:2px solid #5E3C3B;
  height:0px;
}



/* START NODI/CONTENT */

.node{

}

#content .content{
/* padding-left:10px; */
}

/* END NODI */



/* START VARIE PER BOTTOM */

#bottom{
  padding:15px;
}

#bottom a{
  color:#5E3C3B;
}

#bottom .views-field-title{
  display:inline
}
#bottom .views-field-created{
  font-size:10px;
  display:inline
}

/*per ora la lista notizie è nel blocco bottom*/
.view-id-Notizie ul li{
  list-style-type:none;
  padding:0 0 10px 0;
  margin:0;
}


/* END VARIE PER BOTTOM */






/* START PRIMARY MENU */

#primary{
  padding:0 10px 0 10px;
/*   padding-top:30px; */
/*   padding-bottom:20px */
  line-height:42px;
  height:42px;

  background-image: url(img/primary_bg.jpg);
  background-position:top left;
  background-repeat:repeat-x;
  margin-bottom:3px;
}

#primary ul.links li{
  padding:0;
  padding-right:40px;
}

#primary ul.links li a{
  color:#5E3C3B;
}

#primary ul.links li a.active{
  text-decoration:underline;
  font-weight:bold;
  color:#5E3C3B;
}


/* END PRIMARY MENU */








span.none{
  display:none;
}






/* START MODULO DI CONTATTO */


.form-item{
  clear:both;

/*  padding-bottom:35px;*/
/*  border-bottom:1px solid #5E3C3B;*/
  padding-top:10px;
}

#edit-message-clean {
  border:0;
}


.form-item label{
  font-weight:normal;
/*  float:left;*/
}

input, textarea, select{
 /* float:right;*/
  border:1px solid #5E3C3B
}


input#edit-submit{
background-color:#e1c6a6;
}

#edit-message-clean label{
  float:none;
}

#edit-message-clean input{
  float:none;
}


/* END MODULO DI CONTATTO */


.node h2 {
  margin-bottom:0;
}

.sticky{
  border:1px solid #F1CEB9;
  padding:3px;
  background-color:#F4EBE8;
  margin-bottom:10px;
}


